/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* CONTAINER */
.container-fluid {
    padding-left: 0;
}
/* NAVBAR */
.navbar {
    border: 1px solid red;
  }

.nav-link {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    margin: 16px 0;
}

.nav-link:hover {
    color: #6739b7;
}

.row>*{
    padding-right: 0;
}


.bg-dark {
    background-color: #121212!important;
}

.content {
    background-color: #1A1A1A;
}

.icon-bg {
    padding: 8px;
    background-color: #121212;
    border-radius: 8px;
}

.form-select {
    background-color: #121212;
    color: #fff;
}

nav img.img-margin{
    margin-right: 8px;
}

.addCards {
    background-color: #121212;
    color: #fff;
    padding: 32px;
}

.btn {
    color: #fff;
}

.card-lg {
    width: 179.6px;
    height: 221.59px;
    background: linear-gradient(180deg, #6739B7 0%, #9A7EC9 100%);
    border-radius: 14.2963px;

    cursor: pointer;

}

.card-sm {
    width: 159.05px;
    height: 196.57px;
    background: linear-gradient(180deg, #6739B7 0%, #9A7EC9 100%);
    border-radius: 14.2963px;

    cursor: pointer;
}

a.entradas {
    background-color: #121212;

    text-decoration: none;
    color: #fff;

    border-radius: 14px;
}

